

<p>
    Si vous avez quelconque probleme, suggestion, ou whatever, veuillez nous contacter et cela va nous faire un plaisir
    de vous repondre dans les plus bref delais.
</p>
<form id="contact-form" data-ajax="false">
    <label for="Contact_Name" class="ui-hidden-accessible">Nom</label>
    <span id="Contact_Name_Error" class="error display-none"></span>
    <input type="text" name="Contact_Name" id="Contact_Name" value="" placeholder="Nom" class="required" required="required"/>
    <label for="Contact_Message_Kind" class="select ui-hidden-accessible">Choissisez la categorie de message</label>
    <span id="Contact_Message_Kind_Error" class="error display-none"></span>
    <select name="Contact_Message_Kind" id="Contact_Message_Kind" class="required" data-native-menu="false">
        <option value="standard">Suggestion</option>
        <option value="rush">Bug</option>
        <option value="express">Probleme</option>
        <option value="express">Question</option>
    </select>
    <label for="Contact_Subject" class="ui-hidden-accessible">Sujet :</label>
    <span id="Contact_Subject_Error" class="error display-none"></span>
    <input type="text" name="Contact_Subject" id="Contact_Subject" value="" placeholder="Sujet" class="required"/>
    <label for="Contact_Message" class="ui-hidden-accessible">Message</label>
    <span id="Contact_Message_Error" class="error display-none"></span>
    <textarea name="Contact_Message" id="Contact_Message" placeholder="Ecrivez votre message ici" class="required" required="required"></textarea>
    <button type="submit" data-theme="z" name="Contact_Submit">Submit</button>
</form>
