

<div class="align-center">
    <br/>
    <img src="img/logo_header.png"/>
</div>
<div class="home-middle">
    <br/>
    <h4>Spotted something interesting? Share it with everyone!</h4>
    <br/>
    <br/>
    <h4>You need to login to continue.</h4>
    <br/>
    <br/>
    <ul data-role="listview" class="login-selection">
        <li data-icon="grid"><a class="login-facebook" href="#">Login with Facebook</a></li>
        <li data-icon="bars"><a class="login-google" href="#">Login with Google</a></li>
    </ul>
</div>
