

<div data-role="content">
    <div style="text-align: center">
        <br/>
        <img src="img/logo_header.png"/>
    </div>
    <div style="width: 85%; margin: 0 auto;">
        <br/>
        <h4>Spotted something interesting? Share it with everyone!</h4>
        <br/>
        <br/>
        <h4>You need to login to continue.</h4>
        <br/>
        <br/>
        <ul data-role="listview" class="login-selection">
            <li data-icon="grid"><a class="login-facebook" href="#">Login with Facebook</a></li>
            <li data-icon="bars"><a class="login-google" href="#">Login with Google</a></li>
        </ul>
    </div>
</div>
<!--
<ul data-role="listview">
    {//{#each friends}}
    <li><a href="#">{//{this.name}}, {//{this.age}}</a></li>
    {//{/each}}
</ul>
-->
