

<ul id="spotlist" class="list">
    <li><a href="#">Adam Kinkaid</a></li>
    <li><a href="#">Alex Wickerham</a></li>
    <li><a href="#">Avery Johnson</a></li>
    <li><a href="#">Bob Cabot</a></li>
    <li><a href="#">Caleb Booth</a></li>
    <li><a href="#">Christopher Adams</a></li>
    <li><a href="#">Culver James</a></li>
    <li><a href="#">David Walsh</a></li>
    <li><a href="#">Drake Alfred</a></li>
    <li><a href="#">Elizabeth Bacon</a></li>
    <li><a href="#">Emery Parker</a></li>
    <li><a href="#">Enid Voldon</a></li>
    <li><a href="#">Francis Wall</a></li>
    <li><a href="#">Graham Smith</a></li>
    <li><a href="#">Greta Peete</a></li>
    <li><a href="#">Harvey Walls</a></li>
    <li><a href="#">Mike Farnsworth</a></li>
    <li><a href="#">Murray Vanderbuilt</a></li>
    <li><a href="#">Nathan Williams</a></li>
    <li><a href="#">Paul Baker</a></li>
    <li><a href="#">Pete Mason</a></li>
    <li><a href="#">Rod Tarker</a></li>
    <li><a href="#">Sawyer Wakefield</a></li>
</ul>

