
/*-----------------------------------------------
 * Global CSS
 *---------------------------------------------*/
* {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-user-select: text;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

body { }

p,h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}


/* Portrait layout (default) */

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {

}



/*-----------------------------------------------
 * jQuery Mobile Overrides
 *---------------------------------------------*/
.ui-panel-inner {
    padding: 3px 15px 15px 15px;
    /*-----------------------------------*/
    /* Fix for Panel Independent Scroll  */
    /*-----------------------------------*/
    position: absolute;                /**/
    top: 1px;                          /**/
    left: 0;                           /**/
    right: 0;                          /**/
    bottom: 0;                         /**/
    overflow: scroll;                  /**/
    -webkit-overflow-scrolling: touch; /**/
    /*-----------------------------------*/
}



/*-----------------------------------------------
 * Utility Classes
 *---------------------------------------------*/
.blink {
    animation: fade 3000ms infinite;
    -webkit-animation: fade 3000ms infinite;
}
.show {
    display: block;
    visibility: visible;
}
.hide {
    display: none;
    visibility: hidden;
}
.align-center {
    text-align: center;
}
.error {
    color: #CC0000;
}

.display-none {
    color: #CC0000;
}
