

/*-----------------------------------------------
 * Home Page
 *---------------------------------------------*/
.home-middle {
    width: 85%;
    margin: 0 auto;
}
.login-selection .ui-li .ui-btn-inner a.ui-link-inherit,
.login-selection .ui-li-static.ui-li {
    padding-left: 33px;
}
.login-facebook {
    background: transparent no-repeat 2px 5px url(../img/menu-icons-black.png);
}
.login-google {
    background: transparent no-repeat 2px 5px url(../img/menu-list-black.png);
}


/*-----------------------------------------------
 * Navigation Menu (Left Side Panel)
 *---------------------------------------------*/
#navmenu #search {
    margin: 15px 2% 5px 2%;
    width: 96%;
    height: 35px;
    font-size: 14px;
}
#afui #navmenu .list .search-divider {
    border-top: solid 1px #A6A6A6;
}
#navmenu .list li {
    /*padding-top: 10px;
    padding-bottom: 10px;*/
}
#navmenu .list > li > a {
    padding-top: 13px;
    padding-bottom: 13px;
}
